[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=RWind
Exec=rwind.start
NoDisplay=true
X-GNOME-WMName=RWind
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
